{% extends 'core/base.html' %}

{% block title %}Servicios{% endblock %}
{% load static %}

{% block content%}



<div class="container-header mb-5 aside-dk2">
  <div class="rectangle-header text-center">
    <p class="title-main">NOSOTROS </p>
  </div>
</div>


<div class="container aside-mb">  
    <p class="title-main basic-wrapper p-5 text-center">NOSOTROS </p>
  </div>
</div>


<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-12 mt-5">            
            <img src="{% static 'core/img/backgrounds/estudio_5.jpg' %}" class="img-fluid" >
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row  mt-4">        
        <div class="col-sm-12 col-md-2 mt-5">
            <aside class="aside-dk">
                <div >
                    <h1>SOMOS MAS QUE <br>UN ESTUDIO</h1>
                </div>                                
            </aside>  
            <div class="aside-mb text-center basic-wrapper "> 
                    <h1>SOMOS MAS QUE UN ESTUDIO</h1>
            </div>          
        </div>    
        <div class="col-sm-12 col-md-10 mt-5 p-5">
            <h1>{{somos.text}}</h1>                
        </div>        
    </div>
</div>


{% include 'core/contact_us.html' %}


{% endblock %}