{% extends 'core/base.html' %}

{% block title %}Inicio{% endblock %}
{% load static %}

{% block content%}
<div class="container-fluid">
    <div class="header-mobile title-wrapper">
        <div class="row text-center">        
                <p class="title-main ">EL LUGAR PERFECTO PARA ESCUCHAR TU VOZ</p>                
                <img src="{% static 'core/img/backgrounds/estudio_3.jpg' %}" class="img-fluid" >                        
                <p class="spotify-link"><i class="fab fa-spotify"></i> Escúchanos</p>
        </div>
        
    </div>

</div>

<div class="container-fluid">

    <div class="row h-100">
        <div class="col-sm-12 col-md-6 col-lg-6 my-auto">
            <div class="rectangle text-center">
                <p class="title-main">EL LUGAR PERFECTO <br> PARA ESCUCHAR TU VOZ</p>
                <p class="spotify-link"><i class="fab fa-spotify"></i> Escúchanos</p>
            </div>            
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 ">
            <div>
                <img src="{% static 'core/img/backgrounds/estudio_3.jpg' %}" class="img-fluid" ></img>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-5">
            <p class="section-orange-text">REPRODUCE LA MAGIA DE NUESTRO SONIDO</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12 col-md-6">
            <div class="p-5 ">
                <iframe height="400" width="100%" src="https://www.youtube.com/embed/Wexyo62bEqU" title="YouTube video player" >                
                </iframe>                              
            </div>            
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="p-5 " >
                <iframe height="400" width="100%" src="https://www.youtube.com/embed/6Ut3h03ggQg" title="YouTube video player" ></iframe>                         
            </div>          
              
        </div>
    </div>

    <div class="row light-background mt-4">        
        <div class="col-sm-12 col-md-2 mt-5">
            <aside class="aside-dk">
                <div>
                    <h1>JAM SESSIONS <br>STUDIO ES:</h1>
                </div>                
            </aside>

            <div class="aside-mb text-center basic-wrapper "> 
                <h1>JAM SESSIONS <br>STUDIO ES:</h1>
            </div>

        </div>
        {% for test in testimonios %}
            {% if forloop.counter == 1 %}
                <div class="col-sm-12 col-md-1">
                    <h1 class="comas mt-3 aside-dk">,,</h1>
                </div>
                <div class="col-sm-12 col-md-9 mt-5 p-5">
                    <h1>{{test.text}}</h1>
                    <p class="mt-5">-&nbsp; {{test.testigo}}</p>
                </div>   
            </div>
            {% else %}
                <div class="row light-background">        
                    <div class="col-sm-12 col-md-2 mt-5">          
                    </div>
                    <div class="col-sm-12 col-md-1">
                        <h1 class="comas mt-3 aside-dk">,,</h1>
                    </div>
                    <div class="col-sm-12 col-md-9 mt-5 p-5">
                        <h1>{{test.text}}</h1>
                        <p class="mt-5">-&nbsp; {{test.testigo}}</p>
                    </div>        
                </div>

            {% endif %}
        {% endfor %}
        
    
    

    <div class="row h-100 bg-1">
        <div class="col-12 ">
            <div class="recolor center-div">
                <h1>TRABAJEMOS JUNTOS</h1>
                <p>
                    Siempre buscamos nuevas oportunidades y nos sentimos cómodos <br>
                    trabajando con talentos emergentes y consolidados. Comunícate  <br>
                    con nosotros y nos pondremos en contacto contigo para explicarte <br>
                    cómo comenzar el proceso de tu producción
                </p>
                <a href="{% url 'contact' %}"><button class="btn btn-lg btn-white">Contáctanos</button></a>
            </div>
        </div>        

    </div>
    

</div>





{% endblock%}
