html *{
    font-family: 'Voltaire', sans-serif !important;
    color: #E6E6E6;
    
}

body{
    background-color: #1A1A1A;
}

.navbar-logo{
    display: none ;    
    text-align: left;
    margin:auto;    
    padding-left: 200px;
    cursor: pointer;
}

.navbar ul{    
    font-size: 1.5em;    
}
.bg-dark{
    background-color: #1A1A1A !important;
}
.dropdown-menu {
    background-color: #F6921E;
}
.dropdown-menu li{    
    font-size: 0.5em;    
}
.spotify-footer-icon{
    font-size: 2em !important;
}
.spotify-footer-text{
    font-size: 1.5em !important;
}
.footer-hr{    
    height: 10px !important;
    color: #F6921E;
    opacity: 100%;
}
.title-main{
    position:relative;
    padding-top: 0.5%;    
    font-size: 5em;
    line-height: 90%;
}
.rectangle{
    margin-top: 5em;
    background-color: #F6921E;
    width: 90%;
    height: 100px;
    float: right;
}
header{
    align-items: center;
}
.container-header {    
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rectangle-header{
    margin-top: 5em;
    background-color: #F6921E;
    width: 40%;
    height: 100px;    
}
.fab{
    font-family: "Font Awesome 5 Brands" !important;
}
.fa, .far, .fas{
    font-family: "Font Awesome 5 Free" !important;
}
.spotify-link{
    font-size: 2em;
    line-height: 2.5;
}

.footer-contact{
    font-size: 1.3em;
}

.section-orange-text{
    color:#F6921E;
    font-size: 2em;

}

.light-background{
    background-color: #E6E6E6 !important;
    
}
.light-background h1{
    color: #1A1A1A !important;
}
.light-background p{
    color: #1A1A1A !important;
    font-size: 2em;    
}
aside {
    display: block;
    position: relative;
    margin: 40px 0;
  }
aside h1{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 50%;
    margin-left: -25%;
}
aside div{
    margin-left: 3em;        
    background-color: #F6921E;
    width: 30%;        
    text-align: center;
    
}
.comas{
    font-size: 15em;
    transform: rotate(-180deg);
}

.bg-1{  
    background: url('../img/backgrounds/estudio_3.jpg') no-repeat center center ;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}
.recolor{
    background: rgba(246, 146, 30, 0.55);
    overflow: hidden;    
    z-index: -2;    
    height: 800px;          
}
.center-div{    
    padding: 250px 0;
    text-align: center;
    
}
.center-div h1{
    font-size: 5em;    
    -webkit-text-stroke: 2px black;
}
.center-div p{
    font-size: 2em;
    font-weight: lighter;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


.btn-white {
    color: #1A1A1A;
    background-color: #E6E6E6 !important;
    border-color: #6c757d;
    font-size: 1.5em;
}
audio{
    width: 100% !important;
}
.btn-white:hover {
    color: #F6921E;        
}
.btn-orange{
    background-color: #F6921E !important;
    border-color:transparent;
    font-size: 2em;
}
.btn-orange:hover{
    background-color: black !important;
    border-color: #F6921E;

}

footer .first-section-title{
    font-size: 2em;
}
footer .first-section p{
    font-size: 1.3em !important;
}

@media (min-width: 768px) { 
    .navbar ul{    
        font-size: 2em;    
    }
}

@media (min-width: 992px) { 
    .navbar-logo{
        width: 35%;
        display: inline-block;
        
    }
    .navbar ul{     
        font-size: 1.5em;
        padding-left: 60px;
    }
    .dropdown-menu li{        
        font-size: 0.8em;
    }
    
}

@media (min-width: 1200px){
    .nav-link{
        padding-left: 25px !important;   
        padding-right: 25px !important;  
    }
    .navbar-logo{
        width: 40%;
        display: inline-block;
        
    }
    .navbar ul{     
        font-size: 1.5em;
        
    }
}


@media (min-width: 1400px){
    .navbar-logo{
        width: 35%;
        display: inline-block;
        
    }
    .nav-link{
        padding-left: 30px !important;   
        padding-right: 30px !important;  
    }

    .navbar ul{     
        font-size: 2em;        
    }
    .dropdown-menu li{        
        font-size: 0.45em !important;
    }

}

@media (min-width: 1582px){  
    
    .nav-link{
        padding-left: 65px !important;   
        padding-right: 65px !important;  
    }
    .navbar ul{        
        font-size: 2em;        
    }
    
    .dropdown-menu li{        
        font-size: 0.8em;
    }

}